
#
# TFT_eSPI
#
CONFIG_TFT_eSPI_ESPIDF=y
CONFIG_TFT_ILI9341_DRIVER=y
# CONFIG_TFT_ILI9341_2_DRIVER is not set
# CONFIG_TFT_ST7735_DRIVER is not set
# CONFIG_TFT_ILI9163_DRIVER is not set
# CONFIG_TFT_S6D02A1_DRIVER is not set
# CONFIG_TFT_HX8357D_DRIVER is not set
# CONFIG_TFT_ILI9481_DRIVER is not set
# CONFIG_TFT_ILI9486_DRIVER is not set
# CONFIG_TFT_ILI9488_DRIVER is not set
# CONFIG_TFT_ST7789_DRIVER is not set
# CONFIG_TFT_ST7789_2_DRIVER is not set
# CONFIG_TFT_R61581_DRIVER is not set
# CONFIG_TFT_RM68140_DRIVER is not set
# CONFIG_TFT_ST7796_DRIVER is not set
# CONFIG_TFT_SSD1351_DRIVER is not set
# CONFIG_TFT_SSD1963_480_DRIVER is not set
# CONFIG_TFT_SSD1963_800_DRIVER is not set
# CONFIG_TFT_SSD1963_800ALT_DRIVER is not set
# CONFIG_TFT_ILI9225_DRIVER is not set
# CONFIG_TFT_GC9A01_DRIVER is not set
CONFIG_TFT_RGB_ORDER=y
# CONFIG_TFT_BGR_ORDER is not set
# CONFIG_TFT_M5STACK is not set
CONFIG_TFT_INVERSION_DISABLE=y
# CONFIG_TFT_INVERSION_ON is not set
# CONFIG_TFT_INVERSION_OFF is not set
CONFIG_TFT_SPI=y
# CONFIG_TFT_PARALLEL_8_BIT is not set

#
# Display SPI config
#
CONFIG_TFT_VSPI_PORT=y
# CONFIG_TFT_HSPI_PORT is not set
CONFIG_TFT_MISO=25
CONFIG_TFT_MOSI=27
CONFIG_TFT_SCLK=26
# CONFIG_TFT_SDA_READ is not set
CONFIG_TFT_SPI_FREQUENCY=27000000
CONFIG_TFT_SPI_READ_FREQ=20000000
# end of Display SPI config

#
# Control Pin configuration
#
CONFIG_TFT_CS=13
CONFIG_TFT_DC=14
CONFIG_TFT_RST=12
# CONFIG_ENABLE_BL is not set
# end of Control Pin configuration

#
# Fonts
#
CONFIG_TFT_LOAD_GLCD=y
CONFIG_TFT_LOAD_FONT2=y
CONFIG_TFT_LOAD_FONT4=y
CONFIG_TFT_LOAD_FONT6=y
CONFIG_TFT_LOAD_FONT7=y
CONFIG_TFT_LOAD_FONT8=y
CONFIG_TFT_LOAD_GFXFF=y
CONFIG_TFT_SMOOTH_FONT=y
# end of Fonts

#
# Touch screen configuration
#
CONFIG_ENABLE_TOUCH=y
CONFIG_TOUCH_CS=23
CONFIG_SPI_TOUCH_FREQUENCY=2500000
# end of Touch screen configuration

#
# Other settings
#
# CONFIG_DISABLE_WARNINGS is not set
# end of Other settings
# end of TFT_eSPI
